body
{
    font: Arial, sans-serif;
}

.buttonArea,
.footerText,
#geoLocationContainer,
#helloWorldInput,
#helloWorldText
{
    text-align: center;
}

#txtName
{
    border: 1px solid #AAA;
    border-radius: 15px;
    position:static;
    margin-left: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background:white;
    color: black;
    padding: 7px;
}

.nav_wrap{overflow:scroll;}

        
    .nav_wrap ul {
    list-style-type: none;
        padding-left:0px;
        
}        
            
.nav_wrap li {
 
        padding-left:0px;
        
}  


#nav li a {
 
    padding:0px;
    margin:0px;
    height:50px;
        
} 

         
            
    #nav {
    float: left;
    width: 100%;
    
}
                  

.km-android,.km-android .km-content
{
    /* Standard Android */
	/*background: #000;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,rgba(0,0,0,0)),color-stop(1,rgba(255,255,255,0.2)));
	background-image: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(255,255,255,0.2));
	background-image: -ms-linear-gradient(top,rgba(0,0,0,0),rgba(255,255,255,0.2));
	background-image: -o-linear-gradient(top,rgba(0,0,0,0),rgba(255,255,255,0.2));
	background-image: linear-gradient(top,rgba(0,0,0,0),rgba(255,255,255,0.2))*/

    /* Blue radial
    background: rgb(33,56,73);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(33,56,73,1) 0%, rgba(12,19,28,1) 100%); 
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(33,56,73,1)), color-stop(100%,rgba(12,19,28,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(33,56,73,1) 0%,rgba(12,19,28,1) 100%); 
    background: -o-radial-gradient(center, ellipse cover,  rgba(33,56,73,1) 0%,rgba(12,19,28,1) 100%); 
    background: -ms-radial-gradient(center, ellipse cover,  rgba(33,56,73,1) 0%,rgba(12,19,28,1) 100%); 
    background: radial-gradient(ellipse at center,  rgba(33,56,73,1) 0%,rgba(12,19,28,1) 100%); */ 
    
    
    /* Blue linear */
    background: rgb(28,51,63);
    background: -moz-linear-gradient(top,  rgba(28,51,63,1) 0%, rgba(10,17,22,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28,51,63,1)), color-stop(100%,rgba(10,17,22,1)));
    background: -webkit-linear-gradient(top,  rgba(28,51,63,1) 0%,rgba(10,17,22,1) 100%);
    background: -o-linear-gradient(top,  rgba(28,51,63,1) 0%,rgba(10,17,22,1) 100%);
    background: -ms-linear-gradient(top,  rgba(28,51,63,1) 0%,rgba(10,17,22,1) 100%);
    background: linear-gradient(to bottom,  rgba(28,51,63,1) 0%,rgba(10,17,22,1) 100%);
   



}

  

.km-ios,.km-ios .km-content
{
	/* radial
    background: rgb(255,255,255);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(188,188,188,1) 100%); 
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(188,188,188,1))); 
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(188,188,188,1) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(188,188,188,1) 100%); 
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(188,188,188,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(188,188,188,1) 100%); 
    color: #000 */
    
    /* linear */
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(219,219,219,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(219,219,219,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%);


    
    
}


.km-ios .km-toolbar,.km-ios .km-navbar,.km-ios .km-actionsheet>li>a
{
background-color: #2f526b
}



          
.km-android #nav li a {
    display: block;
        background: #2f526b; /* Old browsers */
    	background: -moz-linear-gradient(top, #2f526b 0%, #192c3a 100%); /* FF3.6+ */
    	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f526b), color-stop(100%,#192c3a)); /* Chrome,Safari4+ */
    	background: -webkit-linear-gradient(top, #2f526b 0%,#192c3a 100%); /* Chrome10+,Safari5.1+ */
    	background: -o-linear-gradient(top, #2f526b 0%,#192c3a 100%); /* Opera 11.10+ */
    	background: -ms-linear-gradient(top, #2f526b 0%,#192c3a 100%); /* IE10+ */
    	background: linear-gradient(to bottom, #2f526b 0%,#192c3a 100%); /* W3C */
    text-decoration: none;
    color: #000;
}

            
.km-ios #nav li a {
    display: block;
        background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,rgba(255,255,255,0.5)),color-stop(0.06,rgba(255,255,255,0.45)),color-stop(0.5,rgba(255,255,255,0.2)),color-stop(0.5,rgba(255,255,255,0.15)),color-stop(1,rgba(100,100,100,0)));
    	background-image: -moz-linear-gradient(top,rgba(255,255,255,0.5),rgba(255,255,255,0.45) 6%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.15) 50%,rgba(100,100,100,0));
    	background-image: -ms-linear-gradient(top,rgba(255,255,255,0.5),rgba(255,255,255,0.45) 6%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.15) 50%,rgba(100,100,100,0));
    	background-image: -o-linear-gradient(top,rgba(255,255,255,0.5),rgba(255,255,255,0.45) 6%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.15) 50%,rgba(100,100,100,0));
    	background-image: linear-gradient(top,rgba(255,255,255,0.5),rgba(255,255,255,0.45) 6%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.15) 50%,rgba(100,100,100,0));
    	-webkit-tap-highlight-color: rgba(0,0,0,0);
        background-color: #2f526b;
    text-decoration: none;
    color: #000;
}
            
            
.km-android #nav li a:hover, .km-android #nav li a.active {
     background: #2f526b; /* Old browsers */
    	background: -moz-linear-gradient(top, #2f526b 0%, #192c3a 100%); /* FF3.6+ */
    	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f526b), color-stop(100%,#192c3a)); /* Chrome,Safari4+ */
    	background: -webkit-linear-gradient(top, #2f526b 0%,#192c3a 100%); /* Chrome10+,Safari5.1+ */
    	background: -o-linear-gradient(top, #2f526b 0%,#192c3a 100%); /* Opera 11.10+ */
    	background: -ms-linear-gradient(top, #2f526b 0%,#192c3a 100%); /* IE10+ */
    	background: linear-gradient(to bottom, #2f526b 0%,#192c3a 100%); /* W3C */
    color: #fff;
}

.km-ios #nav li a:hover, .km-ios #nav li a.active {
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,rgba(255,255,255,0.5)),color-stop(0.06,rgba(255,255,255,0.45)),color-stop(0.5,rgba(255,255,255,0.2)),color-stop(0.5,rgba(255,255,255,0.15)),color-stop(1,rgba(100,100,100,0)));
    	background-image: -moz-linear-gradient(top,rgba(255,255,255,0.5),rgba(255,255,255,0.45) 6%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.15) 50%,rgba(100,100,100,0));
    	background-image: -ms-linear-gradient(top,rgba(255,255,255,0.5),rgba(255,255,255,0.45) 6%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.15) 50%,rgba(100,100,100,0));
    	background-image: -o-linear-gradient(top,rgba(255,255,255,0.5),rgba(255,255,255,0.45) 6%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.15) 50%,rgba(100,100,100,0));
    	background-image: linear-gradient(top,rgba(255,255,255,0.5),rgba(255,255,255,0.45) 6%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.15) 50%,rgba(100,100,100,0));
    	-webkit-tap-highlight-color: rgba(0,0,0,0);
        background-color: #2f526b;
    color: #fff;
}
.km-android #nav li ul {
    display: none;
}
            
.km-ios #nav li ul {
    display: none;
}
                    
            
.km-android #nav li ul li a {
    padding-top:15px;
    padding-left:25px;
    height: 30px;
    background:darkgray;
    border-bottom: 1px dotted #ccc;
}
            
.km-ios #nav li ul li a {
    padding-top:15px;
    padding-left:25px;
    background:darkgray;
    border-bottom: 1px dotted #ccc;
    height:30px;
}
 
.km-android #nav ul li a:hover{
background: #333;
}
            
.km-ios #nav ul li a:hover{
background: #333;
}
            
.main_nav {color:white;}


/* navigation states */
#nav1 { background:url(../images/nav_reports.png);background-repeat:no-repeat;height:100%;width:100%; }
#nav1.active { background: url(../images/nav_lit_reports.png);background-repeat:no-repeat; }
      
#nav2 { background:url(../images/nav_units.png);background-repeat:no-repeat;height:100%;width:100%; }
#nav2.active { background: url(../images/nav_lit_units.png);background-repeat:no-repeat; }

#nav3 { background:url(../images/nav_orders.png);background-repeat:no-repeat;height:100%;width:100%; }
#nav3.active { background: url(../images/nav_lit_orders.png);background-repeat:no-repeat; }

#nav4 { background:url(../images/nav_alerts.png);background-repeat:no-repeat;height:100%;width:100%; }
#nav4.active { background: url(../images/nav_lit_alerts.png);background-repeat:no-repeat; }            
            


